Content/UtopianCity
.DS_Store

Content/ThirdPerson
Content/StarterContent
Content/Characters

Build
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace